<!-- Navabar -->
<nav class="navbar navbar-expand-sm navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand text-light fs-2 mx-5" href="#">Yaribus</a>
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto h6 mb-2 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link text-light " href="#">Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Get Free Rides</a>
        </li>
        <li class="nav-item dropdown">
          <a class=" nav-link text-light dropdown-toggle " type="button" id="mybookdropdown" data-bs-toggle="dropdown"
            aria-expanded="false">My Bookings</a>
          <ul class="dropdown-menu" aria-labelledby="mybookdropdown">
            <li><a class="dropdown-item" href="#">Print Booking</a></li>
            <li><a class="dropdown-item" href="#">Cancel Booking</a></li>
          </ul>
        </li>
        <li class="nav-item">
        <a class="nav-link dropdown-toggle text-light" href="#"><i class="pi pi-user" style="font-size: 1.2rem"></i>Login / Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
