
.navbar{
    background:#a39b9b;
}
.navbar-brand{
  font-size: large;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-nav .nav-link{
  color: #5d5d5d;
  padding: 3px 16px;
  line-height: 19px;
  display: block;
  font-weight: 400;
}
.nav-link a{
  font-size: large;
  text-decoration: none;
  background-color: transparent;
}



