<div class="container">
    <div class="normal-form mb-3">
        <i class="pi pi-user mt-4" style="font-size: 4rem"></i>
        <h1 class="text-center fs-1 fw-bold mt-3">Login</h1>
        <form>
            <div class="p-field">
                <label for="username1">Username</label>
                <input id="username1" class="form-control" type="username" aria-describedby="username1-help"
                    pInputText />

            </div>
            <div class="p-field">
                <label for="username1">Password</label>
                <input id="username1" class="form-control" type="password" aria-describedby="username1-help"
                    pInputText />

            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <p-button label="Login" icon="pi pi-check" iconPos="right"></p-button>
                </div>
                <div class="col">
                    <h4 class="text-dark text-end w-100">New User? <a class="text-danger text-bold h6"
                            routerLink="/signup">
                            click to SignUp</a></h4>
                </div>
            </div>
        </form>
    </div>
    <div class="content">
        <i class="pi pi-user mb-3" style="font-size: 4rem"></i>
        <p class="h2">Login</p>
    </div>
</div>